header {
    background-color: white;
    padding: clamp(1rem, 10%, 4rem) 0 /*clamp(4rem, 50%, 15rem)*/;
}

nav ul {

    gap: clamp(1rem, 10%, 4rem);
}
/* image replaciment */
header a h1 span {
    text-indent: -1000px;
    font-size: .5rem;
}
header a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-mobile-button {
    display: none;
}

 nav> ul li {
    font-size: clamp(1rem, 3vw, 2rem);
}
nav> ul li a:hover {
    color: #0C70F2;
}

@media (max-width: 1024px) {
    header {
        padding: 2rem 3rem;
    }
}
@media (max-width: 425px) {
     header img {
        max-width: 80px;
        max-height: 40px;
    }
}

@media (max-width: 768px) {
    nav.open.flex-container.flex-align-center.flex-grow {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
    }

    nav.flex-container.flex-align-center.flex-grow {
        width: 60dvw;
        position: fixed;
        right: 0;   
        top: 0;
        bottom: 0;
        display: none;
        background-color: #1d1d1d;
        box-shadow:  calc(-100dvw + 40dvw) 0 0 0 rgba(0,0,0, 0.75);
        border: 10px solid #333;
        z-index: 999;
    }
    nav ul.flex-container.flex-grow.jc-end {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        justify-content: flex-start;

    }
    nav ul li {
        width: 100%;
        padding: 0 30px;
    }
    nav ul li a {
        border-bottom: 1px solid white;
        color: white;
        text-decoration: none;
        font-size: clamp(15px, 3vw, 20px);
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-bottom: .2rem;
        padding-bottom: .5rem;
    }
    .menu-mobile-button {
        display: block;
    }
}